$header-height = 15vh
$main-height = 100vh - $header-height


$primary-color = #4737D6



.primary-link
    font-family: 'TT Norms Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #4737D6;
    transition: opacity .25s
    &:hover
        cursor pointer
        opacity 0.7
        transition: opacity .25s

.primary-btn 
    z-index 10
    width 240px
    height 50px
    background: #4737D6
    display flex
    flex-direction: row
    justify-content: center
    align-items: center
    box-shadow: -8px 8px 0px 0px #F83902;
    font-family: 'TT Norms Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: box-shadow .25s
    &:hover 
        cursor pointer
        box-shadow: 0px 0px 0px 0px #F83902;
        transition: box-shadow .25s
