$header-height = 15vh
$main-height = 100vh - $header-height


$primary-color = #4737D6



.primary-link
    font-family: 'TT Norms Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #4737D6;
    transition: opacity .25s
    &:hover
        cursor pointer
        opacity 0.7
        transition: opacity .25s

